<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<script>

    /**
     * 팝업 종료 함수
     * closePopup
     */
    function closePopup() {
        window.close();
    }

</script>
<body>
<div class="container">

    <div class="row g-5">
        <div class="col g-5">
            <h4 class="mb-3">IP 상세 페이지</h4>
            <br>
            <div class="row g-3">
                <form class="needs-validation" novalidate action="#" id="certForm"
                      th:action="@{/admin/cert/modified}" th:object="${cert}" method="post">
                    <div class="col-12">
                        <label>
                            <button class="w-30 btn btn-primary btn-sm" onclick="closePopup()">팝업닫기</button>
                        </label>
                    </div>

                    <div class="col-12">
                        <label>
                            <input type="hidden" readonly disabled name="certId" th:field="*{certId}" th:value="${cert.getCertId()}"/>
                        </label>
                    </div>

                    <!-- 인증서타입 -->
                    <div class="col-12">
                        <label>인증서타입 : </label>
                        <label for="certType">
                            <select id="certType" readonly disabled th:field="*{certType}">
                                <option th:each="type : ${certTypes}"
                                        th:value="${type.name()}"
                                        th:text="${type.getDescription()}"
                                        th:selected="${type.name()} == ${cert.getCertType()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 인증서명 -->
                    <div class="col-12">
                        <label class="form-label">인증서명 : </label>
                        <label>
                            <input type="text" readonly disabled name="certName" th:field="*{certName}" th:value="${cert.getCertName()}"/>
                        </label>
                    </div>

                    <div class="col-12">
                        <label class="form-label">적용 시스템 : </label>
                        <label for="applySystemId">
                            <select id="applySystemId" readonly disabled th:field="*{applySystemId}">
                                <option th:each="system : ${systems}"
                                        th:value="${system.getSystemId()}"
                                        th:text="${system.getSystemName()}"
                                        th:selected="${system.getSystemId()} == ${cert.getApplySystem().getId()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 내용 -->
                    <div class="col-12">
                        <label class="form-label">내용 : </label>
                        <label>
                            <input type="text" readonly disabled name="content" th:field="*{content}"
                                   th:value="${cert.getContent()}"/>
                        </label>
                    </div>

                    <!-- 사이트링크 -->
                    <div class="col-12">
                        <label class="form-label">사이트링크 : </label>
                        <label>
                            <input type="text" readonly disabled name="siteLink" th:field="*{siteLink}"
                                   th:value="${cert.getSiteLink()}"/>
                        </label>
                    </div>

                    <!-- 시작일자 -->
                    <div class="col-12">
                        <label class="form-label">시작일자 : </label>
                        <label>
                            <input type="date" readonly disabled name="startDate" th:value="${cert.getStartDate()}"/>
                        </label>
                    </div>

                    <!-- 종료일자 -->
                    <div class="col-12">
                        <label class="form-label">종료일자 : </label>
                        <label>
                            <input type="date" readonly disabled name="endDate" th:value="${cert.getEndDate()}"/>
                        </label>
                    </div>

                    <!-- 담당자 -->
                    <div class="col-12">
                        <label class="form-label">담당자 : </label>
                        <label for="memberId">
                            <select id="memberId" readonly disabled th:field="*{memberId}">
                                <option th:each="member : ${members}"
                                        th:value="${member.getMemberId()}"
                                        th:text="${member.getDeptName()} + ' ' + ${member.getName()} + ' ' + ${member.getGradeName()}"
                                        th:selected="${member.getMemberId()} == ${cert.getMember().getId()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 등록.수정일자 -->
                    <div class="col-12">
                        <label class="form-label">등록.수정일자 : </label>
                        <label>
                            <input type="text" readonly disabled name="modDate" th:value="${cert.getModDate()}"/>
                        </label>
                    </div>

                    <!-- 등록.수정자 -->
                    <div class="col-12">
                        <label class="form-label">등록.수정자 : </label>
                        <label>
                            <input type="text" readonly disabled name="modMemberId"
                                   th:value="${cert.getModMemberId()}"/>
                        </label>
                    </div>

                    <!-- 사용유무 -->
                    <div class="col-12">
                        <label class="form-label">사용유무 : </label>
                        <label>
                            <input type="text" readonly disabled name="validity" th:value="${cert.getValidity()}"/>
                        </label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>