<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/dist/css/layout.css">
<body>
<div th:insert="~{frame/header/header :: copy}"></div>
<script>
    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        const form = document.getElementById("clientForm");
        form.submit();
    }

</script>
<div class="container">
    <main>

        <div class="p-5 mb-4 bg-light rounded-3 mt-3">
            <div class="container-fluid py-5 text-center">
                <h1 class="display-6 fw-bold">[관리자] 그룹사 등록 화면</h1>
                <p class="fs-5">관리자가 그룹사를 등록합니다.</p>
                <span>
                    <a th:href="@{/admin/client}" methods="get" class="nav-link">뒤로가기</a>
                </span>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" novalidate action="#" id="clientForm" th:action="@{/admin/client/save}"
                      method="post">
                    <div class="row g-3">

                        <!-- 그룹사 코드 -->
                        <div class="col-12">
                            <label class="form-label">그룹사 코드 : </label>
                            <label>
                                <input type="text" name="clientCode" maxlength="4"/>
                            </label>
                        </div>

                        <!-- 그룹사 명 -->
                        <div class="col-12">
                            <label class="form-label">그룹사 명 : </label>
                            <label>
                                <input type="text" name="clientName" maxlength="100"/>
                            </label>
                        </div>

                        <div class="col-12">
                            <button class="w-40 btn btn-primary btn-sm" onclick="formSubmit()">
                                등록
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<div th:insert="~{frame/footer/footer :: copy}"></div>
</body>
</html>
