<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/footer.css" rel="stylesheet">
</head>
<div class="container" th:fragment="copy">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2025 Oh Company, Inc</p>
  </footer>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
