<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container" th:fragment="copy">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" th:href="@{/}"
                                    th:classappend="${currentUrl == '/'} ? 'active'">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/manage/ipManage}"
                                    th:classappend="${currentUrl == '/manage/ipManage'} ? 'active'">Ip-Manage</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/manage/certManage}"
                                    th:classappend="${currentUrl == '/manage/certManage'} ? 'active'">Cert-Manage</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/system/main}"
                                    th:classappend="${currentUrl == '/system'} ? 'active'">Systems</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/main}"
                                    th:classappend="${currentUrl == '/admin'} ? 'active'">Admin</a></li>
        </ul>
        <!--        <ul class="nav nav-pills">-->
        <!--            <li class="nav-item"><a th:href="@{/static}" class="nav-link"-->
        <!--                                    th:classappend="${currentUrl == '/'} ? 'active'">Home</a></li>-->
        <!--            <li class="nav-item"><a th:href="@{/stats/main}" class="nav-link"-->
        <!--                                    th:classappend="${currentUrl.contains('/stats')} ? 'active'">Stats</a></li>-->
        <!--            <li class="nav-item"><a th:href="@{/generation/main}" class="nav-link"-->
        <!--                                    th:classappend="${currentUrl.contains('/generation')} ? 'active'">Generation</a></li>-->
        <!--            <li class="nav-item"><a th:href="@{/save/main}" class="nav-link"-->
        <!--                                    th:classappend="${currentUrl.contains('/save')} ? 'active'">Favorite</a></li>-->
        <!--        </ul>-->
    </header>
</div>
