<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<body>
<div th:insert="~{freme/header/header :: copy}"></div>
<script>
    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        const form = document.getElementById("memberForm");
        form.submit();
    }

</script>
<div class="container">
    <main>

        <div class="py-1 text-center">
            <h2>관리자 화면</h2>
            <p class="lead">직원 등록 페이지</p>
        </div>

        <div class="d-flex justify-content-center align-items-center vh-20">
            <label>
                <a th:href="@{/admin/main}" class="nav-link">뒤로가기</a>
            </label>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">직원 등록</h4>
                <form class="needs-validation" novalidate action="#" id="memberForm" th:object="${member}"
                      th:action="@{/admin/member/save}" method="post">
                    <div class="row g-3">

                        <!-- 직원명 -->
                        <div class="col-12">
                            <label class="form-label">직원명 : </label>
                            <label>
                                <input type="text" name="name" id="name" th:field="*{name}" maxlength="100"/>
                            </label>
                        </div>

                        <!-- 회사명 -->
                        <div class="col-12">
                            <label class="form-label">회사명 : </label>
                            <label for="clientId">
                                <select id="clientId" th:field="*{clientId}">
                                    <option th:each="client : ${clients}"
                                            th:value="${client.getClientId()}"
                                            th:text="${client.getClientName()}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <!-- 부서코드 -->
                        <div class="col-12">
                            <label class="form-label">부서코드 : </label>
                            <label>
                                <input type="text" name="deptCode" id="deptCode" th:field="*{deptCode}" maxlength="20"/>
                            </label>
                        </div>

                        <!-- 부서명 -->
                        <div class="col-12">
                            <label class="form-label">부서명 : </label>
                            <label>
                                <input type="text" name="deptName" id="deptName" th:field="*{deptName}" maxlength="40"/>
                            </label>
                        </div>

                        <!-- 직위코드 -->
                        <div class="col-12">
                            <label class="form-label">직위코드 : </label>
                            <label>
                                <input type="text" name="gradeCode" id="gradeCode" th:field="*{gradeCode}"
                                       maxlength="20"/>
                            </label>
                        </div>

                        <!-- 직위명 -->
                        <div class="col-12">
                            <label class="form-label">직위명 : </label>
                            <label>
                                <input type="text" name="gradeName" id="gradeName" th:field="*{gradeName}"
                                       maxlength="40"/>
                            </label>
                        </div>

                        <!-- 직책코드 -->
                        <div class="col-12">
                            <label class="form-label">직책코드 : </label>
                            <label>
                                <input type="text" name="roleCode" id="roleCode" th:field="*{roleCode}" maxlength="20"/>
                            </label>
                        </div>

                        <!-- 직책명 -->
                        <div class="col-12">
                            <label class="form-label">직책명 : </label>
                            <label>
                                <input type="text" name="roleName" id="roleName" th:field="*{roleName}" maxlength="40"/>
                            </label>
                        </div>

                        <!-- 재직상태 -->
                        <div class="col-12">
                            <label>재직상태 : </label>
                            <label for="empStatus">
                                <select id="empStatus" th:field="*{empStatus}">
                                    <option th:each="status : ${empStatuses}"
                                            th:value="${status.name()}"
                                            th:text="${status.getDescription()}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <!-- 권한 -->
                        <div class="col-12">
                            <label class="form-label">권한 : </label>
                            <label for="empAuth">
                                <select id="empAuth" th:field="*{empAuth}">
                                    <option th:each="auth : ${empAuths}"
                                            th:value="${auth.name()}"
                                            th:text="${auth.getDescription()}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <!-- 담당 시스템 -->
                        <div class="col-12">
                            <label class="form-label">담당 시스템 : </label>
                            <label for="systemId">
                                <select id="systemId" th:field="*{systemId}">
                                    <option th:each="system : ${systems}"
                                            th:value="${system.getSystemId()}"
                                            th:text="${system.getSystemName()}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <!-- 담당 시스템 역할 -->
                        <div class="col-12">
                            <label class="form-label">담당 시스템 역할 : </label>
                            <label for="systemRole">
                                <select id="systemRole" th:field="*{systemRole}">
                                    <option th:each="role : ${systemRoles}"
                                            th:value="${role.name()}"
                                            th:text="${role.getDescription()}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="col-12">
                            <button class="w-40 btn btn-primary btn-sm" onclick="formSubmit()">
                                등록
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<div th:insert="~{freme/footer/footer :: copy}"></div>
</body>
</html>
