<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<script>

    /**
     * 멤버 사용 함수
     * systemUse
     */
    function systemUse(systemId) {
        if (confirm("시스템을 사용 하시겠습니까?")) {
            fetch('/admin/system/use?systemId=' + systemId, {
                method: 'POST'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('시스템 담당자에게 문의해주세요.');
                    }
                    return response.text();
                })
                .then(data => {
                    alert(data);
                    closePopup();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
    }

    /**
     * 멤버 삭제 함수
     * systemDelete
     */
    function systemDelete(systemId) {
        if (confirm("시스템을 삭제 하시겠습니까?")) {
            fetch('/admin/system/remove?systemId=' + systemId, {
                method: 'POST'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('시스템 담당자에게 문의해주세요.');
                    }
                    return response.text();
                })
                .then(data => {
                    alert(data);
                    closePopup();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
    }

    /**
     * 팝업 종료 함수
     * closePopup
     */
    function closePopup() {
        window.close();
    }

    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        if (confirm("직원을 수정 하시겠습니까?")) {
            const form = document.getElementById("memberForm");
            form.submit();
        }
    }

</script>
<body>
<div class="container">

    <div class="row g-5">
        <div class="col g-5">
            <h4 class="mb-3">직원 상세 페이지</h4>
            <br>
            <div class="row g-3">
                <form class="needs-validation" novalidate action="#" id="memberForm"
                      th:action="@{/admin/member/modified}" th:object="${member}" method="post">
                    <div class="col-12">
                        <label>
                            <button class="w-40 btn btn-primary btn-sm" onclick="formSubmit()">직원수정</button>
                        </label>
                        <label>
                            <button class="w-30 btn btn-primary btn-sm" onclick="closePopup()">팝업닫기</button>
                        </label>
                    </div>

                    <div class="col-12">
                        <label>
                            <input type="hidden" name="memberId" th:value="${member.getMemberId()}"/>
                        </label>
                    </div>

                    <!-- 직원명 -->
                    <div class="col-12">
                        <label class="form-label">직원명 : </label>
                        <label>
                            <input type="text" name="name" th:field="*{name}" th:value="${member.getName()}"/>
                        </label>
                    </div>

                    <!-- 회사명 -->
                    <div class="col-12">
                        <label class="form-label">회사명 : </label>
                        <label for="clientId">
                            <select id="clientId" th:field="*{clientId}">
                                <option th:each="client : ${clients}"
                                        th:value="${client.getClientId()}"
                                        th:text="${client.getClientName()}"
                                        th:selected="${client.getClientId()} == ${member.getClient().getId()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 부서코드 -->
                    <div class="col-12">
                        <label class="form-label">부서코드 : </label>
                        <label>
                            <input type="text" name="deptCode" th:field="*{deptCode}" th:value="${member.getDeptCode()}"/>
                        </label>
                    </div>

                    <!-- 부서명 -->
                    <div class="col-12">
                        <label class="form-label">부서명 : </label>
                        <label>
                            <input type="text" name="deptName" th:field="*{deptName}" th:value="${member.getDeptName()}"/>
                        </label>
                    </div>

                    <!-- 직위코드 -->
                    <div class="col-12">
                        <label class="form-label">직위코드 : </label>
                        <label>
                            <input type="text" name="gradeCode" th:field="*{gradeCode}" th:value="${member.getGradeCode()}"/>
                        </label>
                    </div>

                    <!-- 직위명 -->
                    <div class="col-12">
                        <label class="form-label">직위명 : </label>
                        <label>
                            <input type="text" name="gradeName" th:field="*{gradeName}" th:value="${member.getGradeName()}"/>
                        </label>
                    </div>

                    <!-- 직책코드 -->
                    <div class="col-12">
                        <label class="form-label">직책코드 : </label>
                        <label>
                            <input type="text" name="roleCode" th:field="*{roleCode}" th:value="${member.getRoleCode()}"/>
                        </label>
                    </div>

                    <!-- 직책명 -->
                    <div class="col-12">
                        <label class="form-label">직책명 : </label>
                        <label>
                            <input type="text" name="roleName" th:field="*{roleName}" th:value="${member.getRoleName()}"/>
                        </label>
                    </div>

                    <!-- 메일 -->
                    <div class="col-12">
                        <label class="form-label">메일 : </label>
                        <label>
                            <input type="text" name="mail" th:field="*{mail}" th:value="${member.getMail()}"/>
                        </label>
                    </div>

                    <!-- 핸드폰 -->
                    <div class="col-12">
                        <label class="form-label">핸드폰 : </label>
                        <label>
                            <input type="text" maxlength="13" name="phone" th:field="*{phone}" th:value="${member.getPhone()}"/>
                        </label>
                    </div>

                    <!-- 재직상태 -->
                    <div class="col-12">
                        <label>재직상태 : </label>
                        <label for="empStatus">
                            <select id="empStatus" th:field="*{empStatus}">
                                <option th:each="status : ${empStatuses}"
                                        th:value="${status.name()}"
                                        th:text="${status.getDescription()}"
                                        th:selected="${status.name()} == ${member.getEmpStatus()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 담당 시스템 -->
                    <div class="col-12">
                        <label class="form-label">담당 시스템 : </label>
                        <label for="systemId">
                            <select id="systemId" th:field="*{systemId}">
                                <option th:each="system : ${systems}"
                                        th:value="${system.getSystemId()}"
                                        th:text="${system.getSystemName()}"
                                        th:selected="${system.getSystemId()} == ${member.getSystem().getId()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 담당 시스템 역할 -->
                    <div class="col-12">
                        <label class="form-label">담당 시스템 역할 : </label>
                        <label for="systemRole">
                            <select id="systemRole" th:field="*{systemRole}">
                                <option th:each="role : ${systemRoles}"
                                        th:value="${role.name()}"
                                        th:text="${role.getDescription()}"
                                        th:selected="${role.name()} == ${member.getSystemRole()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 권한 -->
                    <div class="col-12">
                        <label class="form-label">권한 : </label>
                        <label for="empAuth">
                            <select id="empAuth" th:field="*{empAuth}">
                                <option th:each="auth : ${empAuths}"
                                        th:value="${auth.name()}"
                                        th:text="${auth.getDescription()}"
                                        th:selected="${auth.name()} == ${member.getEmpAuth()}">
                                </option>
                            </select>
                        </label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>