<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<body>
<div th:insert="~{freme/header/header :: copy}"></div>
<script>
    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        const form = document.getElementById("systemCertForm");
        form.submit();
    }

    /**
     * 팝업 함수
     * openPopup
     * @param certId
     */
    function openPopup(certId) {
        window.open("/cert/manage/detail?certId="+certId, "PopupWindow", "width=480,height=640");
    }

</script>
<div class="container">
    <main>

        <div class="py-1 text-center">
            <h2>시스템별 인증서 화면</h2>
            <p class="lead">시스템의 인증서를 확인합니다.</p>
        </div>

        <div class="d-flex justify-content-center align-items-center vh-40">
            <label>
                <a th:href="@{/system/main}" methods="get" class="nav-link">뒤로가기</a>
            </label>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">시스템별 인증서 조회</h4>
                <form class="needs-validation" novalidate action="#" id="systemCertForm" th:object="${cond}" th:action="@{/system/cert}" method="get">
                    <div class="row g-3">

                        <!-- 시스템명 조건 -->
                        <div class="col-12">
                            <label class="form-label">시스템명 : </label>
                            <label for="systemId">
                                <select id="systemId" th:field="*{systemId}">
                                    <option th:each="system : ${systems}"
                                            th:value="${system.getSystemId()}"
                                            th:text="${system.getSystemName()}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <!-- 일자 조건 -->
                        <div class="col-sm-6">
                            <label class="form-label">일자 : </label>
                            <label>
                                <input type="date" name="startDate" th:field="*{startDate}"
                                       th:value="${cond.getStartDate()}"/>
                            </label>
                            <label>
                                <b>부터 </b>
                            </label>
                            <label>
                                <input type="date" name="endDate" th:field="*{endDate}"
                                       th:value="${cond.getEndDate()}"/>
                            </label>
                            <label>
                                <b>까지</b>
                            </label>
                        </div>

                        <!-- 인증서명 -->
                        <div class="col-12">
                            <label class="form-label">인증서명 : </label>
                            <label>
                                <input type="text" name="certName" th:field="*{certName}"
                                       th:value="${cond.getCertName()}"/>
                            </label>
                        </div>

                        <!-- 적용대상자 조건 -->
                        <div class="col-12">
                            <label class="form-label">적용대상자 : </label>
                            <label>
                                <input type="text" name="memberName" th:field="*{memberName}"
                                       th:value="${cond.getMemberName()}"/>
                            </label>
                        </div>

                        <!-- 사용유무 조건 -->
                        <div class="col-12">
                            <label class="form-label">사용유무 : </label>
                            <label>
                                <input type="radio" name="validity" value="" th:field="*{validity}"
                                       th:checked="${cond.getValidity() == '' || cond.getValidity() == null}"> 전체
                            </label>
                            <label>
                                <input type="radio" name="validity" value="Y" th:field="*{validity}"
                                       th:checked="${cond.getValidity() == 'Y'}"> 사용
                            </label>
                            <label>
                                <input type="radio" name="validity" value="N" th:field="*{validity}"
                                       th:checked="${cond.getValidity() == 'N'}"> 미사용
                            </label>
                        </div>

                        <div class="col-12">
                            <button class="w-40 btn btn-primary btn-sm" type="submit">조회</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr class="my-5">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#시스템명</th>
                    <th scope="col">#인증서 타입</th>
                    <th scope="col">#인증서명</th>
                    <th scope="col">#시작일자</th>
                    <th scope="col">#종료일자</th>
                    <th scope="col">#적용대상자</th>
                    <th scope="col">#등록.수정일자</th>
                    <th scope="col">#사용유무</th>
                    <th scope="col">#등록.수정자</th>
                    <th scope="col">#결재보기</th>
                </tr>
                </thead>
                <tbody id="certContainer">
                <tr th:each="cert : ${systemCerts}">
                    <td name="system" th:text="${cert.getApplySystem().getSystemName()}">시스템명</td>
                    <td name="ipType" th:text="${cert.getCertType()}">인증서 타입</td>
                    <td name="startIpAddr" th:text="${cert.getCertName()}">인증서명</td>
                    <td name="startDate" th:text="${cert.getStartDate()}">시작일자</td>
                    <td name="endDate" th:text="${cert.getEndDate()}">종료일자</td>
                    <td name="member" th:text="${cert.getMember().getName()}">적용대상자</td>
                    <td name="modDate" th:text="${cert.getModDate()}">등록.수정일자</td>
                    <td name="validity" th:text="${cert.getValidity()}">사용유무</td>
                    <td name="modMemberId" th:text="${cert.getModMemberId()}">등록.수정자</td>
                    <td name="certId">
                        <button type="button" class="w-30 btn btn-primary btn-sm"
                                th:attr="onclick=|openPopup('${cert.getCertId()}')|">상세보기
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>
<div th:insert="~{freme/footer/footer :: copy}"></div>
</body>
</html>
