<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/dist/css/layout.css">
<body>
<div th:insert="~{frame/header/header :: copy}"></div>
<script>
    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        const form = document.getElementById("systemManagerForm");
        form.submit();
    }

    /**
     * 팝업 함수
     * openPopup
     * @param memberId
     */
    function openPopup(memberId) {
        window.open("/admin/member/detail?memberId="+memberId, "PopupWindow", "width=480,height=640");
    }

</script>
<div class="container">
    <main>

        <div class="p-6 mb-4 bg-light rounded-3 mt-2">
            <div class="container-fluid py-5 text-center">
                <h1 class="display-6 fw-bold">[시스템] 시스템별 담당자 화면</h1>
                <p class="fs-5">시스템의 담당자를 확인합니다.</p>
                <span>
                    <a th:href="@{/system/manage}" methods="get" class="nav-link">⬅️ 뒤로가기</a>
                </span>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" novalidate action="#" id="systemManagerForm" th:object="${cond}" th:action="@{/system/manage/manager}" method="get">
                    <div class="row g-3">

                        <!-- 시스템명 조건 -->
                        <div class="col-12">
                            <label class="form-label">시스템명 : </label>
                            <label for="systemId">
                                <select id="systemId" th:field="*{systemId}">
                                    <option value="">전체</option>
                                    <option th:each="system : ${systems}"
                                            th:value="${system.getSystemId()}"
                                            th:text="${system.getSystemName()}">
                                    </option>
                                </select>
                            </label>
                        </div>

                        <!-- 담당자명 조건 -->
                        <div class="col-12">
                            <label class="form-label">담당자명 : </label>
                            <label>
                                <input type="text" name="name"
                                       th:value="${cond.getName()}"/>
                            </label>
                        </div>

                        <!-- 담당자 부서명 조건 -->
                        <div class="col-12">
                            <label class="form-label">담당자 부서명 : </label>
                            <label>
                                <input type="text" name="deptName"
                                       th:value="${cond.getDeptName()}"/>
                            </label>
                        </div>

                        <!-- 담당자 직위명 조건 -->
<!--                        <div class="col-12">-->
<!--                            <label class="form-label">담당자 직위명 : </label>-->
<!--                            <label>-->
<!--                                <input type="text" name="gradeName"-->
<!--                                       th:value="${cond.getGradeName()}"/>-->
<!--                            </label>-->
<!--                        </div>-->

                        <!-- 담당자 직책명 조건 -->
<!--                        <div class="col-12">-->
<!--                            <label class="form-label">담당자 직책명 : </label>-->
<!--                            <label>-->
<!--                                <input type="text" name="roleName"-->
<!--                                       th:value="${cond.getRoleName()}"/>-->
<!--                            </label>-->
<!--                        </div>-->

                        <div class="col-12">
                            <button class="w-40 btn btn-primary btn-sm" type="submit">조회</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <hr class="my-5">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#담당 시스템명</th>
                    <th scope="col">#담당 시스템역할</th>
                    <th scope="col">#담당자명</th>
                    <th scope="col">#그룹사명</th>
                    <th scope="col">#부서코드</th>
                    <th scope="col">#부서명</th>
                    <th scope="col">#직위코드</th>
                    <th scope="col">#직위명</th>
                    <th scope="col">#직책코드</th>
                    <th scope="col">#직책명</th>
                    <th scope="col">#재직상태</th>
                    <th scope="col">#시스템권한</th>
                </tr>
                </thead>
                <tbody id="memberContainer">
                <tr th:each="member : ${systemManagers}">
                    <td name="systemName" th:text="${member.getSystem().getSystemName()}">담당 시스템명/td>
                    <td name="systemRole" th:text="${member.getSystemRole().getDescription()}">담당 시스템역할</td>
                    <td name="name" th:text="${member.getName()}">담당자명</td>
                    <td name="client" th:text="${member.getClient().getClientName()}">그룹사명</td>
                    <td name="deptCode" th:text="${member.getDeptCode()}">부서코드</td>
                    <td name="deptName" th:text="${member.getDeptName()}">부서명</td>
                    <td name="gradeCode" th:text="${member.getGradeCode()}">직위코드</td>
                    <td name="gradeName" th:text="${member.getGradeName()}">직위명</td>
                    <td name="roleCode" th:text="${member.getRoleCode()}">직책코드</td>
                    <td name="roleName" th:text="${member.getRoleName()}">직책명</td>
                    <td name="empStatus" th:text="${member.getEmpStatus().getDescription()}">재직상태</td>
                    <td name="empAuth" th:text="${member.getEmpAuth().getDescription()}">시스템권한</td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>
<div th:insert="~{frame/footer/footer :: copy}"></div>
</body>
</html>
