<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<body>
<div th:insert="~{freme/header/header :: copy}"></div>

<div class="container">
    <main>

        <div class="py-1 text-center">
            <h2>홈화면</h2>
            <p class="lead">IP와 인증서를 관리합니다.</p>
        </div>

        <div class="d-flex justify-content-center align-items-center vh-20">
            <img class="responsive-img" th:src="@{images/management.png}">
        </div>

    </main>
</div>
<div th:insert="~{freme/footer/footer :: copy}"></div>
</body>
</html>
