<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/dist/css/layout.css">
<body>
<div th:insert="~{frame/header/header :: copy}"></div>
<script>
    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        const form = document.getElementById("systemForm");
        form.submit();
    }

</script>
<div class="container">
    <main>

        <div class="p-5 mb-4 bg-light rounded-3 mt-3">
            <div class="container-fluid py-5 text-center">
                <h1 class="display-6 fw-bold">[관리자] 시스템 등록 화면</h1>
                <p class="fs-5">관리자가 시스템을 등록합니다.</p>
                <span>
                    <a th:href="@{/admin/system}" methods="get" class="nav-link">⬅️ 뒤로가기</a>
                </span>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" novalidate action="#" th:object="${system}" id="systemForm" th:action="@{/admin/system/save}"
                      method="post">
                    <div class="row g-3">

                        <!-- 시스템 명 -->
                        <div class="col-12">
                            <label class="form-label">시스템 명 : </label>
                            <label>
                                <input type="text" name="systemName" th:field="*{systemName}" maxlength="100"/>
                            </label>
                        </div>

                        <!-- 담당자 -->
<!--                        <div class="col-12">-->
<!--                            <label class="form-label">담당자 : </label>-->
<!--                            <label for="systemManagerId">-->
<!--                                <select id="systemManagerId" th:field="*{systemManagerId}">-->
<!--                                    <option th:each="member : ${members}"-->
<!--                                            th:value="${member.getMemberId()}"-->
<!--                                            th:text="${member.getDeptName()} + ' ' + ${member.getName()} + ' ' + ${member.getGradeName()} ">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </label>-->
<!--                        </div>-->

                        <!-- 시스템 정보 -->
                        <div class="col-12">
                            <label class="form-label">시스템 정보 : </label>
                            <label>
                                <input type="text" name="systemInfo" th:field="*{systemInfo}" maxlength="400"/>
                            </label>
                        </div>

                        <!-- IP 만료전 알림 일자 -->
                        <div class="col-12">
                            <label class="form-label">IP 만료전 알림 일자 : </label>
                            <label>
                                <input type="text" name="preIpAlarm" th:field="*{preIpAlarm}" maxlength="2"/>
                            </label>
                        </div>

                        <!-- 인증서 만료전 알림 일자 -->
                        <div class="col-12">
                            <label class="form-label">인증서 만료전 알림 일자 : </label>
                            <label>
                                <input type="text" name="preCertAlarm" th:field="*{preCertAlarm}" maxlength="2"/>
                            </label>
                        </div>

                        <div class="col-12">
                            <button class="w-40 btn btn-primary btn-sm" onclick="formSubmit()">
                                등록
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<div th:insert="~{frame/footer/footer :: copy}"></div>
</body>
</html>
