<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IP 인증서 관리 프로그램</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<script>

    /**
     * ip 사용 함수
     * ipUse
     */
    function ipUse(ipId) {
        if (confirm("IP를 사용 하시겠습니까?")) {
            fetch('/admin/ip/use?ipId=' + ipId, {
                method: 'POST'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('시스템 담당자에게 문의해주세요.');
                    }
                    return response.text();
                })
                .then(data => {
                    alert(data);
                    closePopup();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
    }

    /**
     * ip 삭제 함수
     * ipDelete
     */
    function ipDelete(ipId) {
        if (confirm("ip를 삭제 하시겠습니까?")) {
            fetch('/admin/ip/remove?ipId=' + ipId, {
                method: 'POST'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('시스템 담당자에게 문의해주세요.');
                    }
                    return response.text();
                })
                .then(data => {
                    alert(data);
                    closePopup();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
    }

    /**
     * 팝업 종료 함수
     * closePopup
     */
    function closePopup() {
        window.close();
    }

    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        if (confirm("ip를 수정 하시겠습니까?")) {
            const form = document.getElementById("ipForm");
            form.submit();
        }
    }

</script>
<body>
<div class="container">

    <div class="row g-5">
        <div class="col g-5">
            <h4 class="mb-3">IP 상세 페이지</h4>
            <br>

            <form class="needs-validation" novalidate action="#" id="ipForm"
                  th:action="@{/admin/ip/modified}" th:object="${ip}" method="post">
                <div class="row g-3">
                    <div class="col-12">
                        <label>
                            <button class="w-40 btn btn-primary btn-sm" onclick="formSubmit()">IP수정</button>
                        </label>
                        <label>
                            <button th:if="${ip.getValidity() == 'Y'}"
                                    class="w-30 btn btn-primary btn-sm"
                                    th:attr="onclick=|ipDelete('${ip.getIpId()}')|">IP삭제
                            </button>

                            <button th:if="${ip.getValidity() == 'N'}"
                                    class="w-30 btn btn-primary btn-sm"
                                    th:attr="onclick=|ipUse('${ip.getIpId()}')|">IP사용
                            </button>
                        </label>
                        <label>
                            <button class="w-30 btn btn-primary btn-sm" onclick="closePopup()">팝업닫기</button>
                        </label>
                    </div>

                    <div class="col-12">
                        <label>
                            <input type="hidden" name="ipId" th:value="${ip.getIpId()}"/>
                        </label>
                    </div>

                    <!-- IP타입 -->
                    <div class="col-12">
                        <label>IP타입 : </label>
                        <label for="ipType">
                            <select id="ipType" th:field="*{ipType}">
                                <option th:each="type : ${ipTypes}"
                                        th:value="${type.name()}"
                                        th:text="${type.getDescription()}"
                                        th:selected="${type.name()} == ${ip.getIpType()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- IP 출발지 주소 -->
                    <div class="col-12">
                        <label class="form-label">IP 출발지 주소  : </label>
                        <label>
                            <input type="text" name="startIpAddr" th:value="${ip.getStartIpAddr()}"/>
                        </label>
                    </div>

                    <!-- IP 도착지 주소 -->
                    <div class="col-12">
                        <label class="form-label">IP 도착지 주소  : </label>
                        <label>
                            <input type="text" name="endIpAddr" th:value="${ip.getEndIpAddr()}"/>
                        </label>
                    </div>

                    <div class="col-12">
                        <label class="form-label">적용 시스템 : </label>
                        <label for="applySystemId">
                            <select id="applySystemId" th:field="*{applySystemId}">
                                <option th:each="system : ${systems}"
                                        th:value="${system.getSystemId()}"
                                        th:text="${system.getSystemName()}"
                                        th:selected="${system.getSystemId()} == ${ip.getApplySystem().getId()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 내용 -->
                    <div class="col-12">
                        <label class="form-label">내용 : </label>
                        <label>
                            <input type="text" name="content"
                                   th:value="${ip.getContent()}"/>
                        </label>
                    </div>

                    <!-- 사이트링크 -->
                    <div class="col-12">
                        <label class="form-label">사이트링크 : </label>
                        <label>
                            <input type="text" name="siteLink"
                                   th:value="${ip.getSiteLink()}"/>
                        </label>
                    </div>

                    <!-- 시작일자 -->
                    <div class="col-12">
                        <label class="form-label">시작일자 : </label>
                        <label>
                            <input type="date" name="startDate"  th:value="${ip.getStartDate()}"/>
                        </label>
                    </div>

                    <!-- 종료일자 -->
                    <div class="col-12">
                        <label class="form-label">종료일자 : </label>
                        <label>
                            <input type="date" name="endDate"  th:value="${ip.getEndDate()}"/>
                        </label>
                    </div>

                    <!-- 적용대상자 -->
                    <div class="col-12">
                        <label class="form-label">적용대상자 : </label>
                        <label for="memberId">
                            <select id="memberId" th:field="*{memberId}">
                                <option th:each="member : ${members}"
                                        th:value="${member.getMemberId()}"
                                        th:text="${member.getDeptName()} + ' ' + ${member.getName()} + ' ' + ${member.getGradeName()} "
                                        th:selected="${member.getMemberId()} == ${ip.getMember().getId()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 등록.수정일자 -->
                    <div class="col-12">
                        <label class="form-label">등록.수정일자 : </label>
                        <label>
                            <input type="text" readonly disabled name="modDate" th:value="${ip.getModDate()}"/>
                        </label>
                    </div>

                    <!-- 등록.수정자 -->
                    <div class="col-12">
                        <label class="form-label">등록.수정자 : </label>
                        <label>
                            <input type="text" readonly disabled name="modMemberId" th:value="${ip.getModMemberId()}"/>
                        </label>
                    </div>

                    <!-- 사용유무 -->
                    <div class="col-12">
                        <label class="form-label">사용유무 : </label>
                        <label>
                            <input type="text" readonly disabled name="validity" th:value="${ip.getValidity()}"/>
                        </label>
                    </div>
                </div>

                <!-- 결재 -->
                <div th:if="${ip.getApproval() != null}" class="row g-3">

                    <div class="col-12">
                        <label class="form-label">==============================================</label>
                        <input type="hidden" name="approvalId" th:value="${ip.getApproval().getId()}"/>
                    </div>

                    <!-- 결재번호 -->
                    <div class="col-12">
                        <label class="form-label">결재번호 : </label>
                        <label>
                            <input type="text" name="approvalNo" th:value="${ip.getApproval().getApprovalNo()}"/>
                        </label>
                    </div>

                    <!-- 기안자 -->
                    <div class="col-12">
                        <label class="form-label">기안자 : </label>
                        <label for="drafterId">
                            <select id="drafterId" th:field="*{drafterId}">
                                <option th:each="member : ${members}"
                                        th:value="${member.getMemberId()}"
                                        th:text="${member.getDeptName()} + ' ' + ${member.getName()} + ' ' + ${member.getGradeName()} "
                                        th:selected="${member.getMemberId() == ip.getDrafterId()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 결재차수 -->
                    <div class="col-12">
                        <label>결재차수 : </label>
                        <label for="degree">
                            <select id="degree" th:field="*{degree}">
                                <option th:each="degree : ${degrees}"
                                        th:value="${degree.name()}"
                                        th:text="${degree.getDescription()}"
                                        th:selected="${degree.name()} == ${ip.getApproval().getDegree()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 결재자 -->
                    <div class="col-12">
                        <label class="form-label">결재자 : </label>
                        <label for="approverId">
                            <select id="approverId" th:field="*{approverId}">
                                <option th:each="member : ${members}"
                                        th:value="${member.memberId}"
                                        th:text="${member.deptName} + ' ' + ${member.name} + ' ' + ${member.gradeName}"
                                        th:selected="${member.memberId == ip.approverId}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 결재상태 -->
                    <div class="col-12">
                        <label>결재상태 : </label>
                        <label for="approvalStatus">
                            <select id="approvalStatus" th:field="*{approvalStatus}">
                                <option th:each="status : ${approvalStatuses}"
                                        th:value="${status.name()}"
                                        th:text="${status.getDescription()}"
                                        th:selected="${status.name()} == ${ip.getApproval().getApprovalStatus()}">
                                </option>
                            </select>
                        </label>
                    </div>

                    <!-- 승인일자 -->
                    <div class="col-12">
                        <label class="form-label">승인일자 : </label>
                        <label>
                            <input type="datetime-local" name="approveDate" th:value="${ip.getApproval().getApproveDate()}"/>
                        </label>
                    </div>

                    <!-- 취소일자 -->
                    <div class="col-12">
                        <label class="form-label">취소일자 : </label>
                        <label>
                            <input type="datetime-local" name="cancelDate" th:value="${ip.getApproval().getCancelDate()}"/>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>