<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이름 생성 프로그램 상세</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css">
<script src="/assets/dist/js/color-modes.js"></script>
<link href="/assets/dist/css/headers.css" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    /* canvas 크기 고정 */
    #myChart {
        width: 100% !important; /* 부모 너비를 따라가도록 설정 */
        height: 400px !important; /* 높이 고정 */
    }
</style>
<script>
    // 차트를 저장할 전역 변수
    let myChart;

    let chartFlag = true;

    // 차트 그리기 함수 호출
    document.addEventListener("DOMContentLoaded", function () {
        let name = document.getElementById("name").value;
        fetchYearCountChart(name);
        //fetchYearRankChart(name);
    });

    // 서버에서 데이터 가져오기 및 차트 그리기
    function fetchYearCountChart(name) {
        fetch('/stats/statsChart/yearCount?name='+ name) // 데이터가 있는 URL로 요청
            .then(response => response.json()) // JSON 형식으로 데이터 받기
            .then(data => {
                const years = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'];
                const chartData = data.chartNames;

                // 결과가 없다면 0
                const dataset = years.map(year => {
                    return chartData[year] || 0; // chartData에서 값이 없으면 0을 반환
                });

                myChart = new Chart(document.getElementById('myChart').getContext('2d'), {
                    type: 'line', // 차트 타입
                    data: {
                        labels: years,
                        datasets: [{
                            label: '등록건수', // 차트 제목
                            data: dataset, // 차트에 그릴 데이터
                            backgroundColor: 'rgba(255, 99, 132, 0.2)', // 배경 색
                            borderColor: 'rgba(255, 99, 132, 1)', // 선 색
                            borderWidth: 1, // 선의 두께
                            minimum: 0,
                            maximum: 5000,
                        }]
                    },
                    options: {
                        plugins: {
                            tooltip: {
                                enabled: true, // 툴팁 활성화
                                mode: 'index', // 데이터 지점의 값을 동시에 표시
                                intersect: false, // 데이터에 정확히 교차된 부분만 툴팁 표시
                                callbacks: {
                                    label: function (context) {
                                        return `${context.dataset.label}: ${context.parsed.y}`;
                                    }
                                }
                            }
                        },
                        responsive: true, // 반응형 설정
                        maintainAspectRatio: true, // 비율 유지 비활성화
                        scales: {
                            y: {
                                beginAtZero: false,
                                min: 0, // Y축 최소값 고정
                                max: 5000, // Y축 최대값 고정
                            }
                        }
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    // 서버에서 데이터 가져오기 및 차트 그리기
    function fetchYearRankChart(name) {
        fetch('/stats/statsChart/yearRank?name='+ name) // 데이터가 있는 URL로 요청
            .then(response => response.json()) // JSON 형식으로 데이터 받기
            .then(data => {
                const years = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'];
                const yearRanks = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'];
                const chartData = data.chartNames;

                // 결과가 없다면 0
                const datasetFilter = years.map(year => {
                    return chartData[year] || 0;
                });

                // 연도와 순위 배열을 일치시켜서 데이터를 가져오기
                const dataset = yearRanks.map((yearRank, index) => {
                    const year = years[index]; // index를 사용하여 맞는 연도를 찾아냅니다.
                    return chartData[year] || 21; // 해당 연도가 없으면 21로 대체
                });

                myChart = new Chart(document.getElementById('myChart').getContext('2d'), {
                    type: 'line', // 차트 타입
                    data: {
                        labels: years,
                        datasets: [{
                            label: '연도순위', // 차트 제목
                            data: dataset, // 차트에 그릴 데이터
                            backgroundColor: 'rgba(255, 99, 132, 0.2)', // 배경 색
                            borderColor: 'rgba(255, 99, 132, 1)', // 선 색
                            borderWidth: 1, // 선의 두께
                            minimum: 0,
                            maximum: 20,
                        }]
                    },
                    options: {
                        plugins: {
                            tooltip: {
                                enabled: true, // 툴팁 활성화
                                mode: 'index', // 데이터 지점의 값을 동시에 표시
                                intersect: false, // 데이터에 정확히 교차된 부분만 툴팁 표시
                                callbacks: {
                                    label: function (context) {
                                        return `${context.dataset.label}: ${context.parsed.y}`;
                                    }
                                }
                            }
                        },
                        responsive: true, // 반응형 설정
                        maintainAspectRatio: true, // 비율 유지 비활성화
                        scales: {
                            y: {
                                beginAtZero: true,
                                min: 0, // Y축 최소값 고정
                                max: 20, // Y축 최대값 고정
                                reverse: true,  // y 축 반대로 설정
                                ticks: {
                                    stepSize: 1 // 눈금 간격을 1로 설정
                                }
                            }
                        }
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    // 변경
    function changeChart() {
        // 기존 차트가 있으면 제거
        if (myChart) {
            myChart.destroy();
        }

        // 이름 가져오기
        let name = document.getElementById("name").value;

        if (chartFlag) {
            fetchYearRankChart(name);
            document.getElementById('chartName').innerText = "연도별 순위 차트";
            document.getElementById('changeChart').innerText = "등록건수 차트로 변경";

            // 요소의 텍스트 값 변경
            chartFlag = false;
        } else {
            fetchYearCountChart(name);
            document.getElementById('chartName').innerText = "연도별 등록건수 차트";
            document.getElementById('changeChart').innerText = "순위 차트로 변경";
            chartFlag = true;
        }
    }

    //AJAX 요청을 통해 특정 name 저장하는 함수
    function saveName(saveName) {
        fetch('/save/api/saveName?saveName=' + saveName, {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('시스템 담당자에게 문의해주세요.');
                }
                return response.text();
            })
            .then(data => {
                alert(data);  // 성공 메시지를 사용자에게 보여줍니다.
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    // 팝업 창 종료
    function closePopup() {
        window.close();
    }

</script>
<body>
<div class="container">

    <div class="row g-5">
        <div class="col g-5">
            <h4 class="mb-3">이름 상세 페이지</h4>
            <h6 class="mb-3" id="chartName" name="chartName">연도별 등록건수 차트</h6>
            <canvas id="myChart"></canvas>
            <br>
            <div class="row g-3">

                <div class="col-12">
                    <button class="w-30 btn btn-primary btn-sm" id="changeChart" onclick="changeChart()">순위 차트로 변경</button>
                </div>

                <div class="col-12">
                    <button class="w-30 btn btn-primary btn-sm" th:nameId="${popupName.name}" th:onclick="saveName(this.getAttribute('nameId'))">이름저장</button>
                    <button class="w-30 btn btn-primary btn-sm" onclick="closePopup()">팝업닫기</button>
                </div>

                <!-- 연도 -->
                <div class="col-12">
                    <label class="form-label" th:name="연도">연도 : </label>
                    <label>
                        <input type="text" readonly="readonly" name="years" th:value="${popupName.getYears()}"/>
                    </label>
                </div>

                <!-- 이름 -->
                <div class="col-12">
                    <label class="form-label" th:name="이름">이름 : </label>
                    <label>
                        <input type="text" readonly="readonly" id="name" name="name" th:value="${popupName.getName()}"/>
                    </label>
                </div>

                <!-- 성별 -->
                <div class="col-12">
                    <label class="form-label" th:name="성별">성별 : </label>
                    <label>
                        <input type="text" readonly="readonly" name="gender" th:value="${popupName.getGender()}"/>
                    </label>
                </div>

                <!-- 순위 -->
                <div class="col-12">
                    <label class="form-label" th:name="순위">순위 : </label>
                    <label>
                        <input type="text" readonly="readonly" name="yearRank" th:value="${popupName.getYearRank()}"/>
                    </label>
                </div>

                <!-- 등록수 -->
                <div class="col-12">
                    <label class="form-label" th:name="등록수">등록수 : </label>
                    <label>
                        <input type="text" readonly="readonly" name="yearCount" th:value="${popupName.getYearCount()}"/>
                    </label>
                </div>

                <div class="col-12">
                    <label class="form-label">#첫번째 이름 한자 :</label>
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">한자 = 뜻</th>
                        </tr>
                        </thead>
                        <!-- 번역 -->
                        <tbody>
                        <tr th:each="nameTranslate : ${popupName.getFirstNameTranslate()}">
                            <td name="nameYear" th:text="${nameTranslate}">첫번째 이름 한자</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12">
                    <label class="form-label">#두번째 이름 한자 : </label>
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">한자 = 뜻</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="nameTranslate : ${popupName.getSecondNameTranslate()}">
                            <td name="nameYear" th:text="${nameTranslate}">두번째 이름 한자</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>