<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이름 생성 프로그램</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/assets/dist/css/bootstrap.css?v=1.0">
<script src="/assets/dist/js/color-modes.js?v=1.0"></script>
<link href="/assets/dist/css/headers.css?v=1.0" rel="stylesheet">
<link href="/assets/dist/css/bootstrap.css?v=1.0" rel="stylesheet">
<script src="/assets/dist/js/bootstrap.bundle.min.js?v=1.0"></script>
<link href="/assets/dist/css/bootstrap.min.css?v=1.0" rel="stylesheet">
<link href="/assets/dist/css/layout.css" rel="stylesheet">
<script>

    /**
     * 특정 name 저장하는 함수
     * saveName
     * @param name
     */
    function saveName(name) {
        //const name = saveNameElement.innerText;
        fetch('/save/api/saveName?saveName=' + name, {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('시스템 담당자에게 문의해주세요.');
                }
                return response.text();
            })
            .then(data => {
                alert(data);  // 성공 메시지를 사용자에게 보여줍니다.
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    /**
     * 더보기(페이징) 함수
     * loadMore
     * @type {number}
     */
    let currentPage = 0;
    function loadMore() {
        let sortField = $('#sortField').val();
        let isAscending = $('#isAscending').val() === 'true';

        event.preventDefault();  // 링크의 기본 동작 방지
        currentPage++;
        let setSort = "years,asc";
        if (isAscending) {
            setSort = sortField+",asc";
        } else if (!isAscending) {
            setSort = sortField+",desc";
        }

        $.ajax({
            url: '/stats/statsNamesPage',
            method: 'GET',
            data: {
                page: currentPage,
                startYear: $('#startYear').val(),
                endYear: $('#endYear').val(),
                gender: $('input[name="gender"]:checked').val(),
                sort: setSort
            },
            success: function (data) {
                // 새로운 데이터를 받아서 화면에 추가
                data.names.content.forEach(function (name) {
                    const row = `
                        <tr>
                            <td name="nameYear">${name.years}</td>
                            <td name="nameName">${name.name}</td>
                            <td name="nameGender">${name.gender}</td>
                            <td name="nameYearRank">${name.yearRank}</td>
                            <td name="nameYearCount">${name.yearCount}</td>
                            <td name="nameTotalCount">${name.totalCount}</td>
                            <td name="nameTotalMax">${name.totalMaxRank}</td>
                            <td name="nameTotalMin">${name.totalMinRank}</td>
                            <td name="nameTotalAvg">${name.totalAvgRank}</td>
                            <td name="nameTotalRankCount">${name.totalRankCount}</td>
                            <td name="nameDetail"><button class="w-30 btn btn-primary btn-sm" type="button" onclick="openPopup('${name.name}','${name.years}')">상세보기</button></td>
                            <td name="nameSave"><button class="w-30 btn btn-primary btn-sm" type="button" onclick="saveName('${name.name}')">이름저장</button></td>
                        </tr>
                    `;
                    $('#nameContainer').append(row); // 테이블에 행 추가
                });

                // 데이터가 더 이상 없으면 "더보기" 링크 숨기기
                if (data.names.last) {
                    $('#loadMoreLinkButton').hide();
                } else {
                    $('#loadMoreLinkButton').show();
                }
            },
            error: function () {
                alert("데이터를 불러오는 중 오류가 발생했습니다.");
            }
        });
    }

    /**
     * 정렬처리 함수
     * sortNames
     * @param sortField
     * @param isAscending
     */
    function sortNames(sortField, isAscending) {
        currentPage = 0;
        $.ajax({
            url: '/stats/statsNamesPage',
            method: 'GET',
            data: {
                page: currentPage,
                startYear: $('#startYear').val(),
                endYear: $('#endYear').val(),
                gender: $('input[name="gender"]:checked').val(),
                sort: `${sortField},${isAscending ? 'asc' : 'desc'}`
            },
            success: function (data) {
                // 기존 테이블 데이터 삭제
                const tbody = document.querySelector('#nameContainer');
                tbody.innerHTML = ''; // 기존 데이터를 제거

                // 새로운 데이터를 받아서 화면에 추가
                data.names.content.forEach(function (name) {
                    const row = `
                        <tr>
                            <td name="nameYear">${name.years}</td>
                            <td name="nameName">${name.name}</td>
                            <td name="nameGender">${name.gender}</td>
                            <td name="nameYearRank">${name.yearRank}</td>
                            <td name="nameYearCount">${name.yearCount}</td>
                            <td name="nameTotalCount">${name.totalCount}</td>
                            <td name="nameTotalMax">${name.totalMaxRank}</td>
                            <td name="nameTotalMin">${name.totalMinRank}</td>
                            <td name="nameTotalAvg">${name.totalAvgRank}</td>
                            <td name="nameTotalRankCount">${name.totalRankCount}</td>
                            <td name="nameDetail"><button class="w-30 btn btn-primary btn-sm" type="button" onclick="openPopup('${name.name}','${name.years}')">상세보기</button></td>
                            <td name="nameSave"><button class="w-30 btn btn-primary btn-sm" type="button" onclick="saveName('${name.name}')">이름저장</button></td>
                        </tr>
                    `;
                    $('#nameContainer').append(row); // 테이블에 행 추가
                });

                // 정렬 상태 업데이트
                setSort(data);

                // 데이터가 더 이상 없으면 "더보기" 링크 숨기기
                if (data.names.last) {
                    $('#loadMoreLinkButton').hide();
                } else {
                    $('#loadMoreLinkButton').show();
                }
            },
            error: function () {
                alert("데이터를 불러오는 중 오류가 발생했습니다.");
            }
        });
    }

    /**
     * submit 호출 함수
     * formSubmit
     */
    function formSubmit() {
        const form = document.getElementById("statsForm");
        form.submit();
    }

    /**
     * 팝업 함수
     * openPopup
     * @param name
     * @param years
     */
    function openPopup(name, years) {
        window.open("/stats/statsPopup?name="+name+"&years="+years, "PopupWindow", "width=800,height=840");
    }

    /**
     * 정렬 상태 업데이트 함수
     * setSort
     * @param data
     */
    function setSort(data) {
        // 정렬 상태 업데이트
        window.sortField = data.sortField;
        window.isAscending = data.isAscending;

        // 컬럼별 아이콘 업데이트
        const yearColumn = document.getElementById('year-column');
        const genderColumn = document.getElementById('gender-column');
        const yearRankColumn = document.getElementById('yearRank-column');
        const yearCountColumn = document.getElementById('yearCount-column');
        const totalCountColumn = document.getElementById('totalCount-column');
        const totalMaxRankColumn = document.getElementById('totalMaxRank-column');
        const totalMinRankColumn = document.getElementById('totalMinRank-column');
        const totalAvgRankColumn = document.getElementById('totalAvgRank-column');
        const totalRankCountColumn = document.getElementById('totalRankCount-column');

        $('#sortField').val(data.sortField);
        $('#isAscending').val(data.isAscending);

        yearColumn.textContent = data.sortField === 'years'
            ? (data.isAscending ? '▼연도' : '▲연도')
            : '#연도';

        genderColumn.textContent = data.sortField === 'gender'
            ? (data.isAscending ? '▲성별' : '▼성별')
            : '#성별';

        yearRankColumn.textContent = data.sortField === 'yearRank'
            ? (data.isAscending ? '▲연간 순위' : '▼연간 순위')
            : '#연간 순위';

        yearCountColumn.textContent = data.sortField === 'yearCount'
            ? (data.isAscending ? '▼연간 등록수' : '▲연간 등록수')
            : '#연간 등록수';

        totalCountColumn.textContent = data.sortField === 'totalCount'
            ? (data.isAscending ? '▼합산 등록수' : '▲합산 등록수')
            : '#합산 등록수';

        totalMaxRankColumn.textContent = data.sortField === 'totalMaxRank'
            ? (data.isAscending ? '▲합산 최고순위' : '▼합산 최고순위')
            : '#합산 최고순위';

        totalMinRankColumn.textContent = data.sortField === 'totalMinRank'
            ? (data.isAscending ? '▲합산 최소순위' : '▼합산 최소순위')
            : '#합산 최소순위';

        totalAvgRankColumn.textContent = data.sortField === 'totalAvgRank'
            ? (data.isAscending ? '▲합산 평균순위' : '▼합산 평균순위')
            : '#합산 평균순위';

        totalRankCountColumn.textContent = data.sortField === 'totalRankCount'
            ? (data.isAscending ? '▼합산 순위등재수' : '▲합산 순위등재수')
            : '#합산 순위등재수';
    }

</script>
<body>
<div th:insert="~{name/header/header :: copy}"></div>
<div class="container">
    <main>
        <div class="py-1 text-center">
            <h2>연도별 상위 이름 현황</h2>
            <p class="lead">2008년부터 2024년까지 상위 이름을 불수 있습니다.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">이름 조회 조건</h4>
                <form class="needs-validation" novalidate action="#" id="statsForm" th:action="@{/stats/statsNames}" method="get">
                    <input type="hidden" id="sortField">
                    <input type="hidden" id="isAscending">
                    <div class="row g-3">

                        <!-- 연도 조건 -->
                        <div class="col-sm-6">
                            <label class="form-label">연도 : </label>
                            <label>
                                <select id="startYear" name="startYear" ONCHANGE="formSubmit()">
                                    <option th:each="year : ${years}"
                                            th:value="${year}"
                                            th:text="${year}"
                                            th:selected="${statsName.startYear == '' || statsName.startYear == null ? '2024' : year == statsName.startYear}">
                                    </option>
                                </select>
                            </label>
                            <label>
                                <b>부터</b>
                            </label>
                            <label>
                                <select id="endYear" name="endYear" ONCHANGE="formSubmit()">
                                    <option th:each="year : ${years}"
                                            th:value="${year}"
                                            th:text="${year}"
                                            th:selected="${statsName.endYear == '' || statsName.endYear == null ? 2024 : year == statsName.endYear}">
                                    </option>
                                </select>
                            </label>
                            <label>
                                <b>까지</b>
                            </label>
                        </div>

                        <!-- 성별 조건 -->
                        <div class="col-12">
                            <label class="form-label">성별 : </label>
                            <label>
                                <input type="radio" name="gender" value="" ONCHANGE="formSubmit()"
                                       th:checked="${statsName.gender == '' || statsName.gender == null}"> 전체
                            </label>
                            <label>
                                <input type="radio" name="gender" value="남" ONCHANGE="formSubmit()"
                                       th:checked="${statsName.gender == '남'}"> 남
                            </label>
                            <label>
                                <input type="radio" name="gender" value="여" ONCHANGE="formSubmit()"
                                       th:checked="${statsName.gender == '여'}"> 여
                            </label>
                        </div>

                        <!-- 이름 조건 -->
                        <div class="col-12">
                            <label class="form-label" th:name="이름">이름 : </label>
                            <label>
                                <input type="text" name="name" th:value="${statsName.name}"/>
                            </label>
                        </div>

                        <div class="col-12">
                            <button class="w-40 btn btn-primary btn-sm" type="submit">조회</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <hr class="my-5">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col" id="year-column" onclick="sortNames('years', window.sortField !== 'years' ? true : !window.isAscending)">
                        #연도
                    </th>
                    <th scope="col">#이름</th>
                    <th scope="col" id="gender-column" onclick="sortNames('gender', window.sortField !== 'gender' ? true : !window.isAscending)">
                        #성별
                    </th>
                    <th scope="col" id="yearRank-column" onclick="sortNames('yearRank', window.sortField !== 'yearRank' ? true : !window.isAscending)">
                        #연간 순위
                    </th>
                    <th scope="col" id="yearCount-column" onclick="sortNames('yearCount', window.sortField !== 'yearCount' ? true : !window.isAscending)">
                        #연간 등록수
                    </th>
                    <th scope="col" id="totalCount-column" onclick="sortNames('totalCount', window.sortField !== 'totalCount' ? true : !window.isAscending)">
                        #합산 등록수
                    </th>
                    <th scope="col" id="totalMaxRank-column" onclick="sortNames('totalMaxRank', window.sortField !== 'totalMaxRank' ? true : !window.isAscending)">
                        #합산 최고순위
                    </th>
                    <th scope="col" id="totalMinRank-column" onclick="sortNames('totalMinRank', window.sortField !== 'totalMinRank' ? true : !window.isAscending)">
                        #합산 최소순위
                    </th>
                    <th scope="col" id="totalAvgRank-column" onclick="sortNames('totalAvgRank', window.sortField !== 'totalAvgRank' ? true : !window.isAscending)">
                        #합산 평균순위
                    </th>
                    <th scope="col" id="totalRankCount-column" onclick="sortNames('totalRankCount', window.sortField !== 'totalRankCount' ? true : !window.isAscending)">
                        #합산 순위 등재수
                    </th>
                    <th scope="col">#상세</th>
                    <th scope="col">#저장</th>
                </tr>
                </thead>
                <tbody id="nameContainer">
                <tr th:each="name : ${names}">
                    <td name="nameYear" th:text="${name.getYears()}">연도</td>
                    <td name="nameName" th:text="${name.getName()}">이름</td>
                    <td name="nameGender" th:text="${name.getGender()}">성별</td>
                    <td name="nameYearRank" th:text="${name.getYearRank()}">연간 순위</td>
                    <td name="nameYearCount" th:text="${name.getYearCount()}">연간 등록수</td>
                    <td name="nameTotalCount" th:text="${name.getTotalCount()}">총 등록수</td>
                    <td name="nameTotalMin" th:text="${name.getTotalMaxRank()}">총 최고 순위</td>
                    <td name="nameTotalMax" th:text="${name.getTotalMinRank()}">총 최저 순위<</td>
                    <td name="nameTotalAvg" th:text="${name.getTotalAvgRank()}">총 평균 순위</td>
                    <td name="nameTotalRankCount" th:text="${name.getTotalRankCount()}">총 순위 등재수</td>
                    <td name="nameDetail">
<!--                        <button class="w-30 btn btn-primary btn-sm" type="button" th:attr="onclick=${'openPopup(' + name.getName() + ' , ' + name.getYears() + ')'}">상세보기</button>-->
                        <button class="w-30 btn btn-primary btn-sm" type="button"
                                th:attr="onclick=|openPopup('${name.getName()}','${name.getYears()}')|">상세보기
                        </button>
                    </td>
                    <td name="nameSave">
                        <!--<button class="w-30 btn btn-primary btn-sm" type="button" th:attr="onclick=${'saveName(' + name.getName() + ')'}">이름저장</button>-->
                        <button class="w-30 btn btn-primary btn-sm" type="button"
                                th:attr="onclick=|saveName('${name.getName()}')|">이름저장
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-12" th:if="${names}">
                <button class="w-60 btn btn-primary btn-sm"
                        id="loadMoreLinkButton"
                        onclick="loadMore()"
                        th:if="${names.hasNext()}">
                    더보기
                </button>
            </div>
        </div>
    </main>
</div>
<div th:insert="~{name/footer/footer :: copy}"></div>
</body>
</html>