<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/dist/css/layout.css">
<div class="container-fluid" th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">IPCertManager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:classappend="${currentUrl == '/'} ? 'active'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ip/manage}" th:classappend="${currentUrl == '/ip/manage'} ? 'active'">Ip-Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cert/manage}" th:classappend="${currentUrl == '/cert/manage'} ? 'active'">Cert-Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/system/manage}" th:classappend="${#strings.contains(currentUrl,'/system/manage')} ? 'active'">Systems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/main}" th:classappend="${#strings.contains(currentUrl,'/admin')} ? 'active'">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>
